<!DOCTYPE html>
<html>
<head>
    <title> Register </title>
    
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no">
    <meta http-equiv="x-ua-compitable" content="ig=edge">
   <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
   <link rel="stylesheet" href="node_modules/bootstrap-social/bootstrap-social.css">
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

   <link rel="stylesheet" href="style.css"></head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
      <nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top">
      <div class="container">
          <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#Navbar"> 
               <span class="navbar-toggler-icon"></span>
          </button> 
          <div class="navbar-header">
            <a class="navbar-brand mr-auto" href="#"><img src="{{url_for('static', filename='logo.png')}}" height="30" width="41"/></a> 
          </div>            
                <div class="collapse navbar-collapse" id="Navbar"> 
                  <ul class="navbar-nav mr-auto">
                      <li class="nav-item"><a class="nav-link" href="./"><span class="fa fa-home fa-lg"></span> Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="./about"><span class="fa fa-info fa-lg"> About</a></li>
                      <li class="nav-item"><a class="nav-link" href="./menu"><span class="fa fa-info fa-lg"> Menu</a></li>
                       <li class="nav-item"><a class="nav-link" href="./contact"><span class="fa fa-address-card fa-lg"> Contact</a></li>             </ul>
                        <span class="navbar-text">
                          <!-- <a id="loginButton">
                           <span class="fa fa-sign-in"></span> Login</a>-->
                            <a href="./login"><span class="fa fa-sign-in"></span> Login</a>
                        </span>
                 </div>
        </div> 

    </nav>
    <br><br><br><br><br><br>
  <div class="container" style="margin-bottom: 200px;">
   
  <div class="card bg-success text-white ml-5 mr-5">
    <div class="card-body ml-5 mr-5">
         <form class="form" method="POST" action="">
             {{ form.hidden_tag() }}
             <div class="row">
              <div class="col-sm-4">
                <div class=" mb-3"> 
              {{ form.username.label(class="mr-2") }}
              {% if form.username.errors %}
                  {{ form.username(class="form-control-sm is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.username.errors %}
                       <span>{{ error }}</span>
                       {% endfor %}
                  </div>
                  {% else %}
                  {{ form.username(class="form-control form-control-sm required") }}
                  {% endif %}
              </div>
            <div class=" mb-3"> 
              {{ form.email.label(class="mr-2") }}
              {% if form.email.errors %}
                  {{ form.email(class="form-control-sm is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.email.errors %}
                       <span>{{ error }}</span>
                       {% endfor %}
                  </div>
                  {% else %}
                  {{ form.email(class="form-control form-control-sm required") }}
                  {% endif %}
            </div>
            {{ form.password.label(class="mr-2") }}
              {% if form.password.errors %}
                  {{ form.password(class="form-control-sm is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                       <span>{{ error }}</span>
                       {% endfor %}
                  </div>
                  {% else %}
                  {{ form.password(class="form-control form-control-sm required") }}
                  {% endif %}

              {{ form.Confirm_password.label(class="mr-2") }}
              {% if form.Confirm_password.errors %}
                  {{ form.Confirm_password(class="form-control-sm is-invalid") }}
                  <div class="invalid-feedback">
                      {% for error in form.Confirm_password.errors %}
                       <span>{{ error }}</span>
                       {% endfor %}
                  </div>
                  {% else %}
                  {{ form.Confirm_password(class="form-control form-control-sm required") }}
                  {% endif %}
              
            <br><br> 
            
           </div>
           </div> 
             {{ form.submit(class="btn btn-primary float-right") }}
           <!--<button type="button" class="btn btn-primary float-right" data-dismiss="modal">Signin</button> --> 
            
            </form>
    </div>
  </div>
      <div class="pt-3">
          <small class="text-muted">
            Already Have An Account?
            <a href="{{ url_for('login') }}">Sign in</a>
          </small>
        </div>    

          </div>
        </div>
        
      </div>


    </div>
 </div>
 
 <footer class="footer" style="background-color: rgb(82 71 82);color: #76e422">
        <div class="container">
            <div class="row">             
                <div class="col-4 offset-1 col-sm-2">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="./
                          " style="color: #76e422">Home</a></li>
                        <li><a href="./about" style="color: #76e422">About</a></li>
                        <li><a href="#" style="color: #76e422">Menu</a></li>
                        <li><a href="./contact" style="color: #76e422">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                      121, Clear Water Bay Road<br>
                      Clear Water Bay, pune<br>
                      india<br>
                      <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
                      <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
                      <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:confusion@food.net" style="color: #76e422">shubhamrangate15@gmail.com</a>
                   </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                       <a href="" style="margin-right: 25px;"><img src="https://img.icons8.com/ios-glyphs/30/ffffff/google-logo.png"/></a>
                       <a href="mailto:shubhamrangate15@gmail.com" style="margin-right: 25px;"><i class="fa fa-envelope fa-lg" style="color: white"></i></a>
                       <a href="http://www.facebook.com/profile.php?id="><img src="https://img.icons8.com/ios-glyphs/30/ffffff/facebook-circled--v2.png"/></a>
                        
                    </div>
                </div>
           </div>
           <div class="row justify-content-center">             
                <div class="col-auto">
                    <p>© Copyright 2018 Quick Stop Hotel</p>
                </div>
           </div>
        </div>
    </footer>

</body>
</html>
